*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  min-height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100%;
  line-height: 1.5;
  user-select: none;
  font-size: $fs-base;
  font-weight: $fw-400;
  letter-spacing: 0.1rem;
  font-family: $ff-roboto;
  color: hsl($primary-color...);
  text-rendering: optimizeLegibility;
  background: hsl($background-color...);
}

::-webkit-scrollbar {
  width: 1rem; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: hsl($white-color...); /* Background color of the track */
  border-radius: 0.8rem; /* Optional: Add rounded corners */
}

::-webkit-scrollbar-thumb {
  background: hsl($primary-color...); /* Color of the kontainer thumb */
  border-radius: 0.8rem; /* Optional: Add rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: hsl($grey-color...); /* Color when the thumb is hovered */
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    scroll-behavior: auto !important;
    animation-duration: 0.01m !important;
    transition-duration: 0.1m !important;
    animation-iteration-count: 1 !important;
  }
}
