$secondary-color: 39, 73%, 49%;
$primary-color: 206, 86%, 17%;

$black-color: 0, 0%, 0%;
$white-color: 0, 0%, 100%;
$grey-color: 213, 16%, 56%;
$danger-color: 0, 100%, 50%;
$warning-color: 36, 100%, 67%;
$success-color: 129, 100%, 37%;

$background-color: 0, 0%, 96%;
$border-color: 0, 0%, 80%;

$border-radius-xs: 0.5rem;
$border-radius-md: 1.5rem;
$border-radius-sm: 1rem;
$border-radius-lg: 2rem;
  
$padding-xs: 0.5rem;
$padding-md: 1.5rem;
$padding-sm: 1rem;
$padding-lg: 2rem;

$gap-xsm: .5rem;
$gap-sm: 1rem;
$gap-lg: 2rem;
$gap-xs: .5rem;
$gap-md: 1.5rem;
$flow-space: 1.5rem;

$fs-sm: 1.2rem;
$fs-lg: 2rem;
$fs-xlg: 2.4rem;
$fs-md: 1.4rem;
$fs-xsm: .9rem;
$fs-base: 1.6rem;

$fw-200: 200;
$fw-400: 400;
$fw-600: 600;

$ff-roboto: 'Roboto', sans-serif;
$ff-source-sans: 'Source Sans 3', sans-serif;

$transition: all 0.3s ease-in-out;
$box-shadow: 0 .2rem .3rem $border-color;