$border-color: #000;
$border-color-alt: #ccc;
$option-bg-color: #f0f0f0;
$form-input-bg: #f9f9f9;
$hover-bg-color: #fff;
$icon-margin-right: 8px;

.form-fields {
  width: 100%;
  display: flex;
  column-gap: 1rem;
  padding: 0.4rem 0;
  align-items: center;
  margin-bottom: 1rem;
}

.form-field {
  flex: 1;
  width: 100%;
  position: relative;
}

.form-field-error {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  color: hsl($danger-color...);
  font-size: clamp($fs-xsm, 10px, $fs-sm);
}

textarea {
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.6rem;
  color: hsl($primary-color...);
  background-color: hsl($white-color...);
  border: 1px solid rgba(103, 116, 131, 0.3);
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.form-input {
  // SHARED
  width: 100%;
  height: 3.5rem;
  border: none;
  outline: none;
  padding: 1rem;
  position: relative;
  border-radius: 0.2rem;
  color: hsl($primary-color...);
  background-color: $form-input-bg;
  font-size: clamp($fs-sm, 30vw, $fs-md);

  &_checkbox {
    appearance: none; // Hides the default checkbox appearance
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    width: 2rem; // Size of the checkbox
    height: 2rem;
    border: 0.2rem solid #666; // Border for the checkbox
    border-radius: 50%; // Makes it circular
    cursor: pointer;
    position: relative;

    &:checked {
      background-color: blue; // Change to your desired color when checked
      border-color: blue;
      accent-color: hsl($primary-color...);
    }

    &:checked::after {
      content: "";
      top: 0.2rem;
      left: 0.2rem;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      position: absolute;
      background-color: hsl($white-color...);
    }
  }

  &_dropdown {
    width: 100%; /* Assuming 1rem padding on each side, adjust as necessary */
    font-weight: 400;
    position: relative;
    border-radius: 2px;
    color: hsl($grey-color...);
    border: 1px solid #cccccc; /* Add a light grey border */
    background-color: $form-input-bg; /* Match the input field's background color */

    .selected-option {
      cursor: pointer;
      position: relative;
      padding: 3.5px 10px; /* Add horizontal padding to align with the input field */
      line-height: 1.5; /* Adjust line height to vertically center the text */
      display: flex; /* Use flexbox for horizontal alignment */
      align-items: center; /* Align items vertically */
      justify-content: space-between; /* Space between the selected option and chevron */
    }

    .selected-chevron {
      position: relative; /* Position it relative to the selected-option */
      margin-left: auto; /* Push it to the right */
    }

    .options-list {
      z-index: 2;
      width: 100%;
      max-height: 150px; /* Adjust height as needed */
      overflow-y: auto;
      list-style: none;
      position: absolute;
      top: 100%; /* Align it directly below the selected-option */
      left: 0;
      border: 1px solid #cccccc; /* Border to match the dropdown */
      border-top: none; /* Remove top border to blend with the selected-option */
      border-radius: 0 0 4px 4px; /* Only round the bottom corners */
      background-color: #ffffff; /* Background to match the dropdown */
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */

      .option-item {
        padding: 10px;
        cursor: pointer;
        font-weight: 300;
        background-color: #ffffff; /* Background to match the dropdown */
        &:hover {
          background-color: #f2f2f2; /* A light grey for hover state */
        }

        .option-icon {
          margin-right: $icon-margin-right;
        }
      }
    }
  }

  &::placeholder {
    color: hsla($grey-color...);
    font-size: $fs-md;
  }

  &.input-disabled {
    background-color: transparent !important;
  }
}

.form-label {
  display: block;
  color: hsla($grey-color...);
  text-transform: capitalize;
  font-size: clamp($fs-sm, 10vw, $fs-md);
}

.branding {
  display: flex;
  padding: 1rem 0;
  align-items: center;
}

.branding .branding-box {
  width: 15rem;
  height: 15rem;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 1px solid green;
  background: hsl($black-color...);
}

.checkbox-fields {
  display: flex;
  column-gap: 1.5rem;
}

// FORM + FORM-ELEMENTS STYLING
.auth-form {
  width: 100%;
  height: 100%;
  position: relative;

  & .form-input {
    width: 100%;
    height: 3rem;
    border: none;
    outline: none;
    display: block;
    padding: 0.8rem;
    color: #40414a;
    font-size: $fs-md;
    margin-bottom: 0.4rem;
    border-radius: 0.1rem;
    background: $form-input-bg;
    border-bottom: 1px solid rgba(115, 115, 115, 0.4);

    &:focus ~ .form-label,
    &:valid ~ .form-label {
      top: -1.8rem;
      opacity: 0.8;
      transition: $transition;
    }

    &:valid ~ .form-label {
      display: none;
    }
    /*
      I added a placeholder attribute with a space (" ") to the input element. 
      This is necessary for :placeholder-shown to work. I used the :not(:placeholder-shown) 
      pseudo-class to keep the label at the top when the input field has content. 
    */
    &:not(:placeholder-shown) ~ .form-label {
      opacity: 0.8;
      transition: $transition;
    }
    &:invalid ~ .form-label {
      opacity: 0.8;
      transition: $transition;
    }
    &.untouched {
      border-bottom: 2px solid initial; /* or any default color */
    }
    &.touched:valid {
      transition: all 0.2s ease-in-out;
      border-bottom: 2px solid green;
    }
    &.touched:invalid {
      transition: all 0.2s ease-in-out;
      border-bottom: 2px solid red;
    }
  }

  & .form-label {
    left: 0.3rem;
    top: 0.3rem;
    display: block;
    position: absolute;
    font-weight: $fw-200;
    pointer-events: none;
    transition: $transition;
  }

  & .custom-dropdown {
    color: #40414a;
    font-weight: 400;
    position: relative;
    margin-bottom: 0.5rem;
    width: clamp(200px, 100%, 100%);

    .selected-option {
      cursor: pointer;
      position: relative;
      padding: 3px 0px 2px 0px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    }

    .selected-chevron {
      position: absolute;
      right: 2px;
      top: 3px;
    }

    .options-list {
      z-index: 1;
      width: 100%;
      height: 150px;
      overflow-y: auto;
      list-style: none;
      border-top: none;
      position: absolute;
      border: 1px solid #f9f9f9;

      .option-item {
        padding: 10px;
        cursor: pointer;
        font-weight: 300;
        background-color: $option-bg-color;

        &:hover {
          background-color: $hover-bg-color;
        }

        .option-icon {
          margin-right: $icon-margin-right;
        }
      }
    }
  }
}

.form {
  & .form-section {
    margin: 2rem 0;
    padding: 2rem 1rem;
    border-bottom: 1px solid $border-color-alt;

    &:last-child {
      border-bottom: none;
    }

    &_header {
      padding: 1rem 0;
      color: hsl($primary-color...);

      h2 {
        font-size: clamp($fs-xsm, $fs-md, $fs-base);
      }
    }
  }

  & .form-actions {
    gap: 2rem;
    display: flex;
    padding: 1rem 0;
    align-items: center;
    justify-content: flex-end;
  }

  & .form-fields {
    padding: 1rem 0;
    column-gap: 2rem;
    margin-bottom: 1rem;
  }

  & .form-input,
  & .form-input_select {
    margin-top: 0.4rem;
    border-radius: 0.3rem;
    // text-transform: capitalize;
    color: hsl($primary-color...);
    border: 1px solid rgba(103, 116, 131, 0.3);
  }

  & input[type="email"] {
    text-transform: initial;
  }

  & .form-input_file {
    font-family: "Arial", sans-serif;
    border: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;
    padding: 2rem;
    color: #333;
  }

  & input[type="file"] {
    display: none;
  }
}

.checkbox-wrapper {
  gap: 0.5rem;
  display: flex;
  position: relative;
  align-items: center;

  .checkbox-label-wrapper {
    display: flex;
    margin-left: 0.5rem;
    flex-direction: column;

    .checkbox-label {
      margin-bottom: 0.2rem;
      // font-weight: bold;
    }

    small {
      color: hsl($grey-color...);
    }
  }
}
