.form-fields {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  padding: 0.4rem 0;
  align-items: center;
  margin-bottom: 1rem;
}

.form-field {
  flex: 1;
  width: 100%;
  position: relative;

  &.form-field_inline {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .form-label,
    .form-input_select,
    input {
      width: 50%;
    }

    .form-field-error {
      bottom: -1rem;
      position: relative;
    }
  }
}

.form-field-error {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  position: absolute;
  color: hsl($danger-color...);
  font-size: clamp($fs-sm, 12px, $fs-md);
}

textarea {
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.6rem;
  color: hsl($primary-color...);
  background-color: hsl($white-color...);
  border: 1px solid rgba(103, 116, 131, 0.3);
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.form-input {
  // SHARED
  width: 100%;
  height: 3.5rem;
  border: none;
  outline: none;
  padding: 1rem;
  position: relative;
  border-radius: 0.2rem;
  color: hsl($primary-color...);
  background-color: $form-input-bg;
  font-size: clamp($fs-sm, 30vw, $fs-md);

  &_checkbox {
    appearance: none; // Hides the default checkbox appearance
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    width: 2rem; // Size of the checkbox
    height: 2rem;
    border: 0.2rem solid #666; // Border for the checkbox
    border-radius: 50%; // Makes it circular
    cursor: pointer;
    position: relative;

    &:checked {
      background-color: blue; // Change to your desired color when checked
      border-color: blue;
      accent-color: hsl($primary-color...);
    }

    &:checked::after {
      content: "";
      top: 0.2rem;
      left: 0.2rem;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      position: absolute;
      background-color: hsl($white-color...);
    }
  }

  &_select {
    @include custom-dropdown;
  }

  &::placeholder {
    color: hsla($grey-color...);
    font-size: $fs-md;
  }

  &.input-disabled {
    background-color: transparent !important;
  }

  &.untouched {
    border-bottom: 2px solid initial; /* or any default color */
  }
  &.touched:valid {
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid green;
  }
  &:focus.touched:invalid,
  &:focus.untouched:invalid {
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid red;
  }
}

.file-input {
  // gap: 1.2rem;
  // display: flex;
  // width: fit-content;
  // align-items: center;
  // padding: 0.8rem 2rem;
  // justify-content: space-between;

  // &:hover {
  //   cursor: pointer;
  //   transition: all 0.2s linear;
  //   background-color: #f9f9f9;
  //   box-shadow: $box-shadow-alt;
  // }

  &__file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }

  &__label {
    display: flex;
    display: block;
    cursor: pointer;
    font-weight: 300;
    position: relative;
    align-items: center;
    padding: 0.8rem 2rem;
    justify-content: center;
    transition: transform 0.2s ease-out;
    border: 1px solid hsl($grey-color...);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
  }
}

.form-label {
  display: block;
  color: hsla($grey-color...);
  font-size: clamp($fs-sm, 10vw, $fs-md);
}

.branding {
  display: flex;
  padding: 1rem 0;
  align-items: center;
}

.branding .branding-box {
  width: 15rem;
  height: 15rem;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 1px solid green;
  background: hsl($black-color...);
}

.checkbox-fields {
  display: flex;
  column-gap: 1.5rem;
}

// FORM + FORM-ELEMENTS STYLING
.auth-form {
  width: 100%;
  height: 100%;
  position: relative;

  & .form-input {
    width: 100%;
    height: 3rem;
    border: none;
    outline: none;
    display: block;
    padding: 0.8rem;
    color: #40414a;
    font-size: $fs-md;
    margin-bottom: 0.4rem;
    border-radius: 0.1rem;
    background: $form-input-bg;
    border-bottom: 1px solid rgba(115, 115, 115, 0.4);

    &:focus ~ .form-label,
    &:valid ~ .form-label {
      top: -1.8rem;
      opacity: 0.8;
      transition: $transition;
    }

    &:valid ~ .form-label {
      display: none;
    }
    /*
      I added a placeholder attribute with a space (" ") to the input element. 
      This is necessary for :placeholder-shown to work. I used the :not(:placeholder-shown) 
      pseudo-class to keep the label at the top when the input field has content. 
    */
    &:not(:placeholder-shown) ~ .form-label {
      opacity: 0.8;
      transition: $transition;
    }
    &:invalid ~ .form-label {
      opacity: 0.8;
      transition: $transition;
    }
    &.untouched {
      border-bottom: 2px solid rgba(115, 115, 115, 0.2); /* or any default color */
    }
    &.touched:valid {
      transition: all 0.2s ease-in-out;
      border-bottom: 2px solid green;
    }
    &.touched:invalid {
      transition: all 0.2s ease-in-out;
      border-bottom: 2px solid red;
    }
  }

  & .form-label {
    left: 0.3rem;
    top: 0.3rem;
    display: block;
    position: absolute;
    font-weight: $fw-200;
    pointer-events: none;
    transition: $transition;
  }

  & .custom-dropdown {
    @include custom-dropdown;
  }
}

.form {
  & .form-section {
    padding: 3rem 0;
    border-bottom: 1px solid $border-color-alt;

    &:last-child {
      border-bottom: none;
    }

    &_header {
      padding: 1rem 0;
      color: hsl($primary-color...);

      h2 {
        font-size: clamp($fs-xsm, $fs-md, $fs-base);
      }
    }
  }

  & .form-actions {
    gap: 2rem;
    display: flex;
    padding: 1rem 0;
    align-items: center;
    justify-content: flex-end;
  }

  & .form-fields {
    padding: 1rem 0;
    column-gap: 2rem;
    margin-bottom: 1rem;
  }

  & .form-input,
  & .form-input_select {
    margin-top: 0.4rem;
    border-radius: 0.3rem;
    color: hsl($primary-color...);
    border: 1px solid rgba(103, 116, 131, 0.3);
  }

  & input[type="email"] {
    text-transform: initial;
  }

  & .form-input_file {
    font-family: "Arial", sans-serif;
    border: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;
    padding: 2rem;
    color: #333;
  }

  & input[type="file"] {
    display: none;
  }
}

.checkbox-wrapper {
  gap: 0.5rem;
  display: flex;
  position: relative;
  align-items: center;

  .checkbox-label-wrapper {
    display: flex;
    margin-left: 0.5rem;
    flex-direction: column;

    .checkbox-label {
      margin-bottom: 0.2rem;
      // font-weight: bold;
    }

    small {
      color: hsl($grey-color...);
    }
  }
}

/* Container for the toggle, providing necessary spacing */
.toggle-container {
  padding: 10px;
}

/* Style for the actual toggle and its variations */
.toggle {
  width: 50px; // Width of the toggle
  height: 25px; // Height of the toggle
  border-radius: 25px; // Round edges
  background-color: hsl(
    $grey-color...
  ); // Background of the toggle when it's off
  position: relative; // For absolute positioning of the toggle handle
  cursor: pointer; // Change mouse icon to indicate this is clickable
  transition: background-color 0.3s; // Smooth transition for color change

  // Nested style when the toggle is active/on
  &.toggled {
    background-color: hsl(
      $primary-color...
    ); // Background of the toggle when it's on
    // Adjust the handle position when toggled/on
    .toggle-handle {
      left: 27.5px; // Move the handle to the right when toggled
    }
  }

  /* Style for the handle of the toggle */
  .toggle-handle {
    width: 20px; // Width of the handle
    height: 20px; // Height of the handle
    background-color: hsl($white-color...); // Background of the handle
    border-radius: 50%; // Round shape of the handle
    position: absolute; // Position it within the toggle
    top: 2.5px; // Spacing from the top to center it
    left: 2.5px; // Spacing from the left to start at the beginning
    transition: left 0.3s; // Smooth transition for movement
  }
}

.list-container {
  width: 100%;
  column-gap: 2rem;
  display: flex;
  justify-content: space-between;
}

.left-list,
.right-list {
  width: 50%;
}

.single-list {
  width: 100%;
}

.left-list,
.right-list,
.single-list {
  list-style: none;
  padding: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
