.content-header {
  display: flex;
  padding: 2rem 0;
  align-items: center;
  padding-right: 1.5rem;
  justify-content: space-between;

  .section-title {
    padding: 2.5rem 0 0 0;

    & h1 {
      font-weight: 300;
      // line-height: 2rem;
      font-size: $fs-lg;
      margin-bottom: 0.4rem;
    }
  }

  .section-actions {
    position: relative;
    // padding-right: 2rem;
  }
}
