.container {
  gap: $gap-sm;
  display: grid;
  margin: 0 auto;
  height: 100vh;
  height: 100svh;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  grid-template-rows: auto;
  grid-template-columns: 250px auto;
  grid-template-areas: "sidebar main";
}

.main {
  width: 100%;
  display: grid;
  height: 100vh;
  height: 100svh;
  grid-area: main;
  position: relative;
  padding-bottom: 2rem;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "navbar"
    "content";
}

.main-content {
  grid-area: content; /* Assigns the content area */
  overflow-y: auto;
  grid-row: 1fr;
  display: flex;
  flex-direction: column;
  padding: 0 0.7rem;
}

aside {
  width: 100%;
  min-height: 100%;
  position: absolute;
  grid-area: sidebar;
  background: hsl($primary-color...);
}
