.container {
  width: 100%;
  gap: $gap-md;
  display: grid;
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  grid-template-rows: auto;
  grid-template-columns: 250px auto;
  grid-template-areas: "sidebar main";
}

.main {
  width: 100%;
  height: 100%;
  display: grid;
  padding-bottom: 2rem;
  grid-area: main;
  position: relative;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "navbar"
    "content";

  &-content {
    grid-template-rows: auto;
    display: flex;
    padding: 1rem;
    // overflow: hidden;
    grid-area: content; /* Assigns the content area */
    flex-direction: column;
    > div {
      width: fit-content;
      height: max-content;
    }
  }
}

aside {
  top: 0;
  bottom: 0;
  min-height: 100%;
  position: sticky;
  grid-area: sidebar;
  background: hsl($primary-color...);
}
